:root {
    --primary-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --accent-color: #404bbf;
    --main-color: #2e2f42;
    --light-mode-background-color: #f4f4fd;
    --page-background-color: #ffffff;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var (--page-background-color);
    font-style: normal;
}

button {
    cursor: pointer;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;    
}

.logo-studio {
   color: #2E2F42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

.menu-link:hover
.menu-link:focus {
    color: var (--accent-color);
}

.list-contact-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-contact-menu:hover
.list-contact-menu:focus {
    color: var (--accent-color);
}

.section-hero {
    background-color: #2E2F42;
}

.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;    
    text-align: center;
    letter-spacing: 0.02em;    
    color: #FFFFFF;
}

.model-open-btn {
    font-family: var (--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
}

.model-open-btn:hover
.model-open-btn:focus {
    color: var (--accent-color);
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.text-information {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
 .secondary-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-color);
 }

 .team {
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var (--main-color);
    background: #F4F4FD;
 }

 .logo-link-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;    
    letter-spacing: 0.03em;
    color: #4D5AE5;    
}

.logo-studio-footer {
    color: #F4F4FD;
 }

 .footer {
    background: #2E2F42;
 }

 .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
 }

 .button-portfolio {
    font-family: --primary-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: var (--light-mode-background-color);
 }

 .button-portfolio:hover
 .button-portfolio:focus {
    color: var (--page-background-color: #ffffff);
    background-color: var (--accent-color);
 }